<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationprojectpart1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationProjectPart1">
        <activity
            android:name=".SpecificRatingActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllRatingsActivity"
            android:exported="true" />
        <activity
            android:name=".RateActicity"
            android:exported="true" />
        <activity
            android:name=".SubmittedServiceActivity"
            android:exported="false" />
        <activity
            android:name=".RequestCarRentalActivity"
            android:exported="false" />
        <activity
            android:name=".RequestedMovingAssistanceActivity"
            android:exported="false" />
        <activity
            android:name=".RequestTruckRentalActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllServicesActivies"
            android:exported="true" />
        <activity
            android:name=".ScheduleServiceActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".AddServiceActivity"
            android:exported="true" />
        <activity
            android:name=".AccountDeleteActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>